
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}

img{
  max-width: 100%;
  margin-top:20px;
  margin-bottom: 20px;
}

.header {
  background: #fff;
  color: #000;
  /* height: 500px; */
  padding-top:30px;
}

.topright {
  margin-top: 20px;
  margin-right: 60px;
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  width:260px;
}

.maincontent {
  margin-top: 10px;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 500px;
  height: auto;
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: rgb(78, 157, 232);
  color:rgb(78, 157, 232);
  text-decoration: none;
}


.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a {
}

.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

